In [14]:
# NOTE: This is a temporary notebook used to develop the processing pipeline
# while waiting for Spark cluster issues to be resolved
# It's using pandas instead of spark

In [18]:
import jupyter_black

jupyter_black.load()

ModuleNotFoundError: No module named 'jupyter_black'

In [ ]:
import pandas as pd

df_raw = pd.read_json("sample_data.json", lines=True)
df_raw.head(10)

In [5]:
# Step 1: Filter out columns that will not be used

cols_to_keep = ["author", "body", "created_utc", "score", "subreddit", "subreddit_id"]

df_reddit = df_raw[cols_to_keep]
df_reddit.head(10)

,author,body,created_utc,score,subreddit,subreddit_id
0,Dethcola,A quarry,1506816000,3,sandiego,t5_2qq2q
1,PennyBotV2,[Salutations! I'm not sure what you said.](htt...,1506816000,3,RWBY,t5_2vhg0
2,Sir_Firebum,I got into baseball at about he same time Matt...,1506816000,2,baseball,t5_2qm7u
3,deanzynut,FUCKING TORY,1506816000,18,2007scape,t5_2wbww
4,OfullOstomacheO,I see a water dragon,1506816000,1,mildlyinteresting,t5_2ti4h
5,PlusOn3,Wait. The Michigan what? Where is this? Is thi...,1506816000,1,Cubers,t5_2r6a3
6,yeee_bot,ye fam,1506816000,2,teenagers,t5_2rjli
7,grrrrreat,143417804| &gt; United States Anonymous (ID: L...,1506816000,1,4chan4trump,t5_3hds7
8,psych4191,That is some chicken salad outta chicken shit ...,1506816000,2,CFB,t5_2qm9d
9,fishboy2000,Does he even know the rules?,1506816000,1,rugbyunion,t5_2qkbe

In [19]:
# Step 2.1: Count the biggest subreddits (by number of posts)

df_subred_count = pd.DataFrame(df_reddit.groupby("subreddit")["author"].count()).reset_index().rename(mapper={"author": "count"}, axis="columns")
df_subred_count.head(10)

      subreddit  count
0  1200isplenty      1
1     2007scape     22
2  2meirl4meirl      5
3           3DS      1
4    3Dprinting      3
5           3d6      1
6      3dshacks      4
7       40kLore      5
8         49ers      2
9  4PanelCringe      1

In [24]:
# Step 2.2: Get list with top 100 subreddit ids

subs_to_incl = 100

df_top_subs = df_subred_count.sort_values(by="count", ascending=False).iloc[0:subs_to_incl]
top_subs = df_top_subs["subreddit"].tolist()
print(top_subs)

['AskReddit', 'CFB', 'CrazyIdeas', 'news', 'ConciseIAmA', '4chan4trump', 'politics', 'RocketLeagueExchange', 'nba', 'The_Donald', 'edc_raffle', 'worldnews', 'funny', 'teenagers', 'leagueoflegends', 'Ice_Poseidon', 'DestinyTheGame', 'pics', 'hockey', 'nfl', 'gaming', 'videos', 'baseball', 'Jokes', 'Fireteams', 'rugbyunion', 'SquaredCircle', 'pcmasterrace', 'anime', 'relationships', 'LifeProTips', 'gifs', 'PoliticalHumor', 'fantasyfootball', 'MLS', 'Showerthoughts', 'DotA2', 'Rainbow6', 'MMA', 'mildlyinteresting', 'PUBATTLEGROUNDS', 'exmormon', 'europe', 'gonewild', 'movies', 'neoliberal', 'FireEmblemHeroes', 'aww', 'Overwatch', 'todayilearned', 'RocketLeague', 'GlobalOffensive', 'rupaulsdragrace', 'conspiracy', 'NBA2k', 'FIFA', '2007scape', 'btc', 'cars', 'soccer', 'hiphopheads', 'PS4', 'ChapoTrapHouse', 'FFBraveExvius', 'ffxiv', 'MaddenUltimateTeam', 'Guildwars2', 'CringeAnarchy', 'Bitcoin', 'magicTCG', 'food', 'sports', 'totalwar', 'destiny2', 'ColoradoRockies', 'CasualConversation', 'personalfinance', 'buildapc', 'xboxone', 'Conservative', 'NintendoSwitch', 'hearthstone', 'hardwareswap', 'Incels', 'legaladvice', 'canada', 'grandorder', 'nintendo', 'trees', 'WTF', 'Habs', 'smashbros', 'Whatcouldgowrong', 'pokemontrades', 'UnethicalLifeProTips', 'stopdrinking', 'Warframe', 'NASCAR', 'vegan', 'freefolk']

In [26]:
# Step 3.1: Filter data to only contain top subreddits

df_sub_filtered = df_reddit.loc[df_reddit["subreddit"].isin(top_subs)]
df_sub_filtered.head(10)

,author,body,created_utc,score,subreddit,subreddit_id
2,Sir_Firebum,I got into baseball at about he same time Matt...,1506816000,2,baseball,t5_2qm7u
3,deanzynut,FUCKING TORY,1506816000,18,2007scape,t5_2wbww
4,OfullOstomacheO,I see a water dragon,1506816000,1,mildlyinteresting,t5_2ti4h
6,yeee_bot,ye fam,1506816000,2,teenagers,t5_2rjli
7,grrrrreat,143417804| &gt; United States Anonymous (ID: L...,1506816000,1,4chan4trump,t5_3hds7
8,psych4191,That is some chicken salad outta chicken shit ...,1506816000,2,CFB,t5_2qm9d
9,fishboy2000,Does he even know the rules?,1506816000,1,rugbyunion,t5_2qkbe
10,raspberryseltzer,Tequila.,1506816000,2,CFB,t5_2qm9d
13,GonadusTwistus,you're really ignorant of history then. like ...,1506816000,2,The_Donald,t5_38unr
14,ithinkisaidtoomuch,lets see how deep this rabbit hole goes...,1506816000,1,CrazyIdeas,t5_2snxj